# SQL for Data Engineers: Exercise Results

## 1. Basic SELECT
- Write a query to select all columns from the `products` table.

In [ ]:
SELECT * FROM products;


## 2. Filtering
- Select all customers from the `customers` table who are from 'USA'.

In [ ]:
SELECT * FROM customers WHERE country = 'USA';


## 3. Sorting
- List all orders from `orders` table, sorted by `order_date` descending.

In [ ]:
SELECT * FROM orders ORDER BY order_date DESC;


## 4. Aggregation
- Find the average price from the `sales` table.

In [ ]:
SELECT AVG(price) FROM sales;



## 5. JOIN
- Write a query to join `orders` and `customers` on `customer_id`.

In [ ]:
SELECT o.*, c.* FROM orders o JOIN customers c ON o.customer_id = c.customer_id;


## 6. GROUP BY
- Count the number of orders for each customer in the `orders` table.

In [ ]:
SELECT customer_id, COUNT(*) FROM orders GROUP BY customer_id;


## 7. Subquery
- Select products with a price above the average price.

In [ ]:
SELECT * FROM products WHERE price > (SELECT AVG(price) FROM products);


## 8. Window Function
- Add a row number to each product ordered by price descending.

In [ ]:
SELECT *, ROW_NUMBER() OVER (ORDER BY price DESC) AS row_num FROM products;


---

### Challenge
- Write a query to find the top 3 customers by total purchase amount.

In [ ]:
SELECT customer_id, SUM(amount) AS total FROM sales GROUP BY customer_id ORDER BY total DESC LIMIT 3;