# SQL for Data Engineers: Exercise Results

## 1. Basic SELECT

- Retrieve every column and every row from the `products` table using a SQL query.
- This exercise helps you practice the most fundamental SQL operation: selecting all data from a table.

In [ ]:
SELECT 
    product_id, 
    name, 
    category, 
    price
FROM 
    products
ORDER BY 
    name;

## 2. Filtering
- Retrieve all records from the `customers` table where the customer's country is 'USA'. Use a `WHERE` clause to filter the results based on the `country` column.

In [ ]:
SELECT 
    customer_id, 
    name, 
    country
FROM 
    customers
WHERE 
    country = 'USA';


## 3. Sorting
- Retrieve all records from the `orders` table and display them in order from the most recent to the oldest based on the `order_date` column.

In [ ]:
SELECT order_id, customer_id, order_date, total_amount 
FROM orders 
ORDER BY order_date DESC;

## 4. Aggregation
- Calculate the average value of the `price` column in the `sales` table to analyze typical transaction amounts.

In [ ]:
-- Calculate the average price of all sales
SELECT 
    ROUND(AVG(price), 2) AS avg_price
FROM 
    sales;

## 5. JOIN
- Write an SQL query to combine data from the `orders` and `customers` tables by matching their `customer_id` columns. Retrieve all columns from both tables for each matching order and customer.

In [ ]:
SELECT
    o.order_id,
    o.order_date,
    o.customer_id,
    c.name AS customer_name,
    c.country
FROM
    orders o
INNER JOIN
    customers c ON o.customer_id = c.customer_id;


## 6. GROUP BY
- Write a query to determine how many orders each customer has placed. Group the results by `customer_id` in the `orders` table and return both the customer identifier and their corresponding order count.

In [ ]:
SELECT 
    customer_id, 
    COUNT(*) AS order_count
FROM 
    orders
GROUP BY 
    customer_id;

## 7. Subquery
- Write a query to find all products whose price is greater than the average price of all products. Use a subquery to calculate the average price.

In [ ]:
SELECT 
    *
FROM 
    products
WHERE 
    price > (
        SELECT AVG(price)
        FROM products
    );


## 8. Window Function
- Write a query that assigns a unique row number to each product, ordered by price from highest to lowest, using a window function.

In [ ]:
SELECT
    product_id,
    name,
    price,
    ROW_NUMBER() OVER (ORDER BY price DESC) AS row_num
FROM
    products;

---

### Challenge
- Write a SQL query to retrieve the three customers who have spent the most in total purchases. Your query should calculate each customer's total purchase amount (sum of all their purchases), order the results from highest to lowest spender, and return the top three customers along with their total purchase amounts.

In [ ]:
SELECT 
    customer_id, 
    SUM(amount) AS total_purchase_amount 
FROM 
    sales 
GROUP BY 
    customer_id 
ORDER BY 
    total_purchase_amount DESC 
LIMIT 
    3;