# SQL for Data Engineers: Exercise Results

## 1. Basic SELECT
- Write a query to select all columns from the `products` table.

In [ ]:
# Your code here


## 2. Filtering
- Select all customers from the `customers` table who are from 'USA'.

In [ ]:
# Your code here


## 3. Sorting
- List all orders from `orders` table, sorted by `order_date` descending.

In [ ]:
# Your code here


## 4. Aggregation
- Find the average price from the `sales` table.

In [ ]:
# Your code here



## 5. JOIN
- Write a query to join `orders` and `customers` on `customer_id`.

In [ ]:
# Your code here


## 6. GROUP BY
- Count the number of orders for each customer in the `orders` table.

In [ ]:
# Your code here


## 7. Subquery
- Select products with a price above the average price.

In [ ]:
# Your code here


## 8. Window Function
- Add a row number to each product ordered by price descending.

In [ ]:
# Your code here


---

### Challenge
- Write a query to find the top 3 customers by total purchase amount.

In [ ]:
# Your code here